<% if user.errors.any? %>
  <div class="bg-red-600 text-white p-3 mb-4 rounded">
    <h4 class="font-semibold mb-2">Errors:</h4>
    <ul class="list-disc list-inside">
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [:admin, company, user], local: true, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "border p-2 rounded text-black w-full" %>
  </div>

  <div class="mt-2">
    <%= f.label :email %>
    <%= f.email_field :email, class: "border p-2 rounded text-black w-full" %>
  </div>

  <div class="mt-2">
    <%= f.label :password %>
    <%= f.password_field :password, class: "border p-2 rounded text-black w-full", autocomplete: "new-password" %>
  </div>

  <div class="mt-2">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "border p-2 rounded text-black w-full", autocomplete: "new-password" %>
  </div>

  <div class="mt-2">
    <%= f.label :role %>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: "border p-2 rounded text-black w-full" %>
  </div>

  <div class="mt-2">
    <%= f.label :sector_id, "Sector" %>
    <%= f.collection_select :sector_id, sectors, :id, :name, { prompt: "Select Sector" }, class: "border p-2 rounded text-black w-full" %>
  </div>

  <div class="mt-2">
    <%= f.label :manager_id, "Manager" %>
    <%= f.collection_select :manager_id, managers, :id, :name, { prompt: "Select Manager" }, class: "border p-2 rounded text-black w-full" %>
  </div>

  <div class="mt-4">
    <%= f.submit "Create User", class: "px-4 py-2 bg-blue-500 rounded text-white hover:bg-blue-600" %>
  </div>
<% end %>