<%= form_with(model: [@company, @user], local: true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, class: "border p-1 rounded" %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, class: "border p-1 rounded" %>
  </div>

  <div class="mt-2">
    <%= f.submit "Save", class: "px-4 py-2 bg-blue-600 text-white rounded" %>
  </div>
<% end %>