<h1>Users</h1>
<%= link_to "New User", new_admin_company_user_path(@company), class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Sector</th>
      <th>Manager</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.sector&.name %></td>
        <td><%= user.manager&.name %></td>
        <td>
          <%= link_to "Edit", edit_admin_company_user_path(@company, user) %>
          <%= link_to "Delete", admin_company_user_path(@company, user), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>